@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    max-height: 100%;
}

input,
textarea,
select {
    @apply border-2 border-gray-300 rounded-md px-1 w-full;
    @apply mb-2;
}

input:focus,
textarea:focus,
select:focus {
    @apply border-blue-900;
}

h1 {
    @apply text-blue-900 mb-2 text-xl font-bold;
}
label {
    @apply text-blue-900;
}
.btn-primary {
    @apply bg-blue-900 text-white px-4 py-1 rounded-md;
}
.btn-default,
.btn-red {
    @apply px-4 py-1 rounded-md;
}
.btn-red {
    @apply bg-red-800 text-white;
}
.btn-default {
    @apply bg-gray-500 text-white;
}
table.basic {
    @apply w-full;
}
table.basic thead tr td {
    @apply bg-blue-100;
}

table.basic tr td {
    @apply border border-blue-200 p-1;
}

table.basic a {
    @apply bg-blue-900 text-white text-sm py-1 px-2 rounded-md inline-flex gap-1 mr-1;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: 0.3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
    display: none;
}
#sidebar.hide {
    width: 60px;
}
#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}
#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}
#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}
#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}
aside nav a.active {
    position: relative;
    background: white;
    z-index: 100;
}

aside nav a.active::before {
    content: '';
    position: absolute;
    width: 43px;
    height: 42px;
    border-radius: 10% 30% 40% 21%;
    top: -44px;
    right: -8px;
    box-shadow: 10px 28px 0 2px rgb(255, 255, 255);
    z-index: -1;
    -webkit-border-radius: 10% 30% 40% 21%;
    -moz-border-radius: 10% 30% 40% 21%;
    -ms-border-radius: 10% 30% 40% 21%;
    -o-border-radius: 10% 30% 40% 21%;
}
aside nav a.active::after {
    /* background-color: red; */
    /*rotate: 12deg;
    */content: '';
    position: absolute;
    width: 43px;
    height: 40px;
    border-radius: 10% 40% 40% 10%;
    bottom: -42px;
    right: -8px;
    box-shadow: 18px -26px 0 2px hsl(0, 0%, 100%);
    z-index: -1;
}
#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
}
#sidebar .side-menu li.active a {
    color: var(--blue);
}
#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
}
#sidebar .side-menu li a.logout {
    color: var(--red);
}
#sidebar .side-menu.top li a:hover {
    color: var(--blue);
}
#sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}
/* SIDE BAR */
